:root {
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-h: hsla(0, 0%, 100%, 0.6);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  border: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background: var(--Very-dark-blue);
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1.5rem;
}

.preview-card {
  background: var(--Dark-desaturated-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
  border-radius: 0.5rem;
  margin: 5.5rem 0;
}

.preview-image {
  background: var(--Soft-violet);
}

.preview-picture {
  mix-blend-mode: multiply;
  opacity: 0.75;
}

.preview-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0.9375rem 2rem;
  max-width: 33.75rem;
}

.main-heading {
  font-size: 1.75rem;
  line-height: 114%;
  font-weight: 700;
  color: var(--White);
  margin-top: 0;
  margin-bottom: 1rem;
}

.accent {
  color: var(--Soft-violet);
}

.main-paragraph {
  font-size: 0.9375rem;
  line-height: 167%;
  font-weight: 400;
  mix-blend-mode: normal;
  opacity: 0.75;
  color: var(--Slightly-transparent-white-p);
  margin-top: 0;
  margin-bottom: 2.5rem;
  padding: 0 1rem;
}

.statistics {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.stats {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: var(--White);
  margin-top: 0;
}

.upper {
  text-transform: uppercase;
}

.stat-headings {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.75rem;
  line-height: 208%;
  letter-spacing: 0.0625em;
  font-weight: 400;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.6;
  color: var(--Slightly-transparent-white-h);
  margin-top: 0;
}

@media screen and (min-width: 50rem) {
  .preview-card {
    flex-direction: row-reverse;
    margin: 0;
    max-height: 27.875rem;
  }

  img {
    height: 27.875rem;
  }

  .preview-info {
    text-align: left;
    align-items: flex-start;
    max-width: 35.625rem;
    padding: 4.4375rem 5.9375rem 3.6875rem 4.5rem;
  }

  .main-heading {
    font-size: 2.25rem;
    line-height: 122%;
    text-align: left;
    margin-bottom: 1.5625rem;
  }

  .main-paragraph {
    text-align: left;
    margin-bottom: 4.5rem;
    max-width: 23.375rem;
    padding-right: 1rem;
    padding-left: 0;
  }

  .statistics {
    flex-direction: row;
    justify-content: center;
    gap: 3.75rem;
  }

  .stats {
    margin-bottom: 0.125rem;
  }
}

@media only screen and (min-width: 50rem) and (max-width: 67.5rem) {
  .preview-info {
    padding: 4.4375rem 1.875rem 3.6875rem 3.125rem;
  }

  .main-heading {
    max-width: 23.375rem;
  }

  .statistics {
    gap: 1.875rem;
  }
}
